<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="stringconexao" connectionString="Data Source=UDPCRPDB03;Initial Catalog=db_Fraude_Amex;Persist Security Info=True;User ID=usr_Fraude_Amex;Password=Gw2cTJ@WhCM05k" providerName="System.Data.SqlClient"/>
    <!--<<add name="stringconexaoUpdt" connectionString="Provider=sqloledb; Server=UDPCRPDB03;Database=db_Fraude_Amex;User ID=usr_Fraude_Amex;Password=Gw2cTJ@WhCM05k" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>

    <!--Url's//Rotas-->
    <add key="CaminhoCaseMngr" value="C:\Users\a058572\Desktop\Case Manager v9.4.1 - Produção (Bradesco).appref-ms"/>
    <add key="UsuarioLogado" value="RALVARENGA"/>
    <add key="SenhaUsuarioLogado" value="YWxnYXJAMDE="/>

    <add key="UsuarioLogado2" value="RALVARENGA"/>
    <add key="SenhaUsuarioLogado2" value="YWxnYXJAMDE="/>

    <add key="CelularEnvio" value="34900000000"/>
    <add key="SMS_USER" value="automacao_fraude"/>
    <add key="SMS_PWD" value="NHhQMUtscVJQSGxlc2xUNw=="/>

    <add key="SMS_URL" value="https://apismsalgar.algartech.com/api/token"/>

    <add key="SMS_URL_ATTEND" value="https://apismsalgar.algartech.com/api/attendances"/>




    <!--<add key="stringconexao" value="\\servidor\banco\conexao dois jhklhfgkj.mddb"/>-->
    <add key="NomeBanco" value="BancoMatrix"/>

  </appSettings>

  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
