<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Url's//Rotas-->
    <add key="CaminhoCaseMngr_parte1" value="C:\Users\a053463\Desktop\Case Manager "/>
    <add key="VERSAO_CM" value="9.4.2"/>
    <add key="CaminhoCaseMngr_parte2" value=" - Produção (Bradesco).appref-ms"/>
    <!--Usuários-->
    <add key="UsuarioLogado1" value="UB074915"/>
    <add key="SenhaUsuarioLogado1" value="YnJhZGVzY28wMQ=="/>
    <add key="UsuarioLogado0" value="WESLEY"/>
    <add key="SenhaUsuarioLogado0" value="bWljYWVsMjAxMQ=="/>
    <add key="UsuarioLogado2" value="RALVARENGA"/>
    <add key="SenhaUsuarioLogado2" value="YWxnYXJAMDE="/>
    <add key="INTERVALO_IMPORTACAO_HORAS" value="5"/>
    <add key="INTERVALO_IMPORTACAO_COMPLETA" value="8,16,23"/>
    <!--USARIO: UB057219 // 123-->
    <!-- CONFIG BRADESCO -->
    <add key="PATH_ICONS" value="\\d5174s006\D5174\Compartilhado\Entre_secoes\S250_Apl_Fraude\03_Database\01_Amex\MaTRiX\img\"/>
    <add key="PATH_PASTA_MIS" value="\\d5174s006\D5174\Compartilhado\Entre_secoes\S250_Apl_Fraude\03_Database\01_Amex\MaTRiX\mis\"/>
    <add key="PATH_PASTA_ANEXO" value="\\d5174s006\D5174\Compartilhado\Entre_secoes\S250_Apl_Fraude\03_Database\01_Amex\MaTRiX\anexo\"/>
    <add key="PATH_LOG_IMPORT" value="\\d5174s006\D5174\Compartilhado\Entre_secoes\S250_Apl_Fraude\03_Database\01_Amex\MaTRiX\log\"/>
    <add key="HOSTNAME_ATM" value="BRA-MAC002"/>
    <!-- PRODUCAO / CONFIG BD SQL ALGAR -->
    <add key="ALGAR_BD" value="db_Fraude_Amex"/>
    <add key="ALGAR_SERVIDOR" value="UDPCRPDB03"/>
    <add key="ALGAR_USER" value="usr_Fraude_Amex"/>
    <add key="ALGAR_PWD" value="R3cyY1RKQFdoQ00wNWs="/>
    <!-- CONFIG SMS ALGAR -->
    <add key="SMS_USER" value="automacao_fraude"/>
    <add key="SMS_PWD" value="NHhQMUtscVJQSGxlc2xUNw=="/>
    <!-- CONFIG CICLOS E PROCESSOS -->
    <add key="CICLOS" value="3"/>
    <!-- CHAVE DE EXCLUSAO DE REGISTROS DE TRABALHO. FORMATO DEVE SER GRUPO-REGRA-COD_EC. EXEMPLO: (750-50010)-->
    <add key="CHAVE_EXCLUSAO" value ="0;750-50010-9303956016;550-269-8719489510;620-190001-8719489510;623-310131-8719489510;650-269-8719489510;713-160-8719489510;750-269-8719489510;G7167-8719489510;550-269-8719640104;620-190001-8719640104;623-310131-8719640104;650-269-8719640104;713-160-8719640104;750-269-8719640104;G7167-8719640104" />
    <!-- BASE ATM ALERTA DIGITAL -->
    <add key="BD_ALERTA_DIGITAL" value="ATM_sysAtmBase"/>
  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>